.footer-element{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:beige;
    border: 1px solid;
    border-radius: 5%;
    width: 140px;
    height: 30px;
}
.footer-icon{
    font-size: 150%;
    color: black;
}