* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
}

body {
  font-size: 16px;
  font-family: ‘Open Sans’, sans-serif;
  background-color: var(--color-primary);
}

.center-content {
  display: grid;
  grid-template-rows: [header] 60px [content] 600px;
  grid-template-columns: [left gutter] 30px [content] 315px [right gutter] 30px;
}

.body-header {
  grid-column: 1 / 4 ;
  grid-row: header;
  text-align: center;
  background-image: url(../screens/background_shape_1.svg);
}


.main-content {
  display: flex;
  flex-direction: column;
  /* overflow-y: scroll; */
  grid-column: content;
  grid-row: content;
}
.main-content__buddy {
  display: flex;
  flex-direction: column;
}

.main-content__team {
  display: flex;
  flex-direction: column;
}

.team-block__name {
  display: flex;
  height: 58px;
  width: 315px;
  border: solid 1px var(--color-box-border);
  justify-content: center;
  align-items: center;
  color: var(--color-font-box);

}



/* .header-background { */
  /* background: url(../screens/background_shape_1.svg);
  background-size: 59px 375px;
  display: block;
  text-indent: -9999px;
  height: 59px;
  width: 375px; */
}
