* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
}

body {
  font-family: ‘Open Sans’, sans-serif;
  background-color: var(--color-primary);
}

.center-content {
  display: grid;
  height: 100vh;
  grid-template-rows: [header] 58.99px [content] auto;
}

.body-header {
  grid-row: header;
  text-align: center;

  background-image: url(../screens/background_shape_1.svg);
  background-size: cover;
  fill: teal;
  position: relative;
  height: min-content;
}

.body-header__flex {
  display: flex;
  flex-direction: column;
}
h1 {
  font-size: var(--font-bold16);
  color: var(--color-main-font);
  margin: 0;
  padding-top: 17.41px;
}

.body-header__flex-p {
  font-size: 12px;
  color: var(--color-labels);
  font-weight: 400;
  margin: 5px;
}

.main-content {
  display: flex;
  z-index: 1;
  flex-direction: column;
  overflow-y: scroll;
  grid-row: content;
  padding: 0 30px;
  gap: 10px;
  /* align-items: center; */
}
.main-content__buddy {
  display: flex;
  flex-direction: column;
}

.main-content__team {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.team-block__name {
  display: flex;
  height: 58px;
  width: 315px;
  border: solid 1px var(--color-box-border);
  justify-content: center;
  align-items: center;
  color: var(--color-font-box);
}
.team-block__name-top {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.team-block__name-bottom {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.main-content__title {
  font-size: var(--font-semibold14);
  color: var(--color-main-font);
  font-weight: 600px;
  line-height: 16px;
}
