:root {
  --font-bold16: ‘Open Sans’ 16px bold; /* h1*/
  --font-regular12: ‘Open Sans’ 12px; /* p unter h1 */
  --font-semibold16: ‘Open Sans’ 16px; /* team-block__name */
  --font-semibold14: ‘Open Sans’ 14px; /* journal notes text */
  --font-regular14: ‘Open Sans’ 14px; /* p unter h1 */
}
